/*==== SiteColors ==== */
/*==== SiteColors ==== */
:root {
  --clr1: #143E66;
  --oclr1: rgba(20, 62, 102, 0.8);
    
  --clr2: #194e80;
  --oclr2: rgba(25, 78, 128, 0.80);
    
  --clr3: #1a5d9d;
  --oclr3: rgba(26, 93, 157, 0.8);
    
  --clr4: #1e71bf;
  --oclr4: rgba(30, 113, 191, 0.8);
    
  --bgc:#102336;
  --obgc:rgba(0, 37, 137, 0.7);
}